/* ANCHOR generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

.web-app {
    height: 100vh;
}  

/* ANCHOR Web app top */

.web-app-top {
    background-color: #262e35;
    height: calc(100% - 10%); 
    display: flex;
}

/* ANCHOR aside */

.aside {
    background-color: #000000;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;
}  

.fa-spotify {
    color: white;
    font-size: 23px;
}

.nav-icon {
    width: 20px;
    margin-top: 5px;
    margin-left: 1px;
}

/* ANCHOR Web app top */

.web-app-bottom {
    background-color: #282828;
    height: 10%;
}  

.nav-icon-download {
    width: 15px;
    margin-bottom: 5px;
    margin-left: 3px;
}

.nav-icon-profile {
    width: 15px;
    margin-left: 4px;
    background-color: grey;
    border-radius: 50%;
    padding: 2px;
}

/* ANCHOR main */

/* generali main */

h1 {
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    color: white;
}

h2{
    font-size: 20px;
}

.main {
    background-color: #262e35;
    width: 95%;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 80px;
}

/* cta */

.cta {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    text-align: right;
    padding: 30px 20px 30px 0;
} 

.cta-button {
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #fff;
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
}

/* fine cta */

/* nav */

.menu-main-a {
    color: grey;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 8px;
    margin-right: 3px;
}

.styletype {
    list-style-type: none;
    display: inline;
}

.margin {
    margin-left: 25%;
    padding-top: 8px; 
}

.active {
    border-bottom: 2px solid lime;
    padding-bottom: 2px;
}

/* fine nav */

/* sezione cover main */

.cover {
    width: 100%;
}

.bigtitle {
    width: 100%;
}

.title {
    display: block;
    color: #fff;
    font-size: 9px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.album {
    display: block;
    color: #fff;
    font-size: 9px;
    margin-bottom: 10px;

}

.recently-played {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    margin-left: 10px;
    padding-left: 10px;
}

.cover-container {
    width: 40%;
    text-align: center;
    margin-right: 10px;
}

.cover-container1 {
    width: 40%;
    text-align: center;
}

.john {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    margin-left: 10px;
    padding-left: 10px;
}

.popolari {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    margin-left: 10px;
    padding-left: 10px;
    margin-top: 5px;
}

.circle {
    border-radius: 50%;
}

.ascolti {
    font-size: 13px;
    margin-top: 5px;
    color: grey;
}

.perte {
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;
}

/* fine sezione cover main */