/* ANCHOR generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

.web-app {
    height: 100vh;
}  

@media screen and (min-width:375px) and (max-width:424px) {
    .none {
        display: none;
    }
}  


/* ANCHOR Web app top */

.web-app-top {
    background-color: #262e35;
    height: calc(100% - 10%); 
    display: flex;
}

/* ANCHOR aside */

.aside {
    background-color: #000000;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;
}  

.fa-spotify {
    color: white;
    font-size: 23px;
}

.nav-icon {
    width: 20px;
    margin-top: 5px;
    margin-left: 1px;
}

/* ANCHOR Web app top */

.nav-icon-download {
    width: 15px;
    margin-bottom: 5px;
    margin-left: 3px;
}

.nav-icon-profile {
    width: 15px;
    margin-left: 4px;
    background-color: grey;
    border-radius: 50%;
    padding: 2px;
}

/* ANCHOR main */

/* ANCHOR generali main */

h1 {
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    color: white;
}

h2{
    font-size: 20px;
}

.main {
    background-color: #262e35;
    width: 95%;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 80px;
}

/* ANCHOR cta */

.cta {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    text-align: right;
    padding: 30px 20px 30px 0;
} 

.cta-button {
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #fff;
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
}

/* ANCHOR fine cta */

/* ANCHOR nav */

.menu-main-a {
    color: grey;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 8px;
    margin-right: 3px;
}

.styletype {
    list-style-type: none;
    display: inline;
}

.margin {
    margin-left: 25%;
    padding-top: 8px; 
}

.active {
    border-bottom: 2px solid lime;
    padding-bottom: 2px;
}

/* ANCHOR fine nav */

/* ANCHOR sezione cover main */

.cover {
    width: 100%;
}

.bigtitle {
    width: 100%;
}

.title {
    display: block;
    color: #000000;
    font-size: 9px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.album {
    display: block;
    color: #fff;
    font-size: 9px;
    margin-bottom: 10px;
}

.recently-played {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 10px;
    padding-left: 10px;
}

.cover-container {
    width: 45%; 
    text-align: center;
    margin-right: 10px;
}

.cover-container1 {
    width: 45%; 
    text-align: center;
}

.john {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    margin-left: 10px;
    padding-left: 10px;
}

.popolari {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    margin-left: 10px;
    padding-left: 10px;
    margin-top: 5px;
}

.circle {
    border-radius: 50%;
}

.ascolti {
    font-size: 13px;
    margin-top: 5px;
    color: grey;
}

.perte {
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;
}

/* ANCHOR fine sezione cover main */

/* ANCHOR inizio sezione web app bottom */

.web-app-bottom {
    background-color: #282828;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 10%;
    width: 100%;
}

.nowplaying {
    width: 100%;
}

.playersong {
    max-width: 15%;
} 

.title {
    color: #fff;
    margin-left: 5px;

}

.songdescription {
    margin-left: 5px;
}

.playercover {
    max-width: 40px;
}

.block {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 8px;
    padding-left: 8px;
    width: 100%;
}

.input {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
    width: 100%;
    padding-top: 10px;
}

.vol {
    margin-left: 10px;
    margin-right: 10px;
    color: #fff;
}

.range {
    width: 20%;
}

.fa-volume-high {
    color: white;
    margin-left: 20px;
}

.fa-heart {
    color: white;
    margin-right: 20px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (min-width:320px) and (max-width:375px) {
    input[type='range'] {
      overflow: hidden;
      width: 150px;
      -webkit-appearance: none;
      background-color: #fff;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #13bba4;
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      margin-left: 5px;
      cursor: ew-resize;
      background: #434343;
      box-shadow: -100px 0 0 100px lime;
    }

}

@media screen and (-webkit-min-device-pixel-ratio:0) and (min-width:375px) and (max-width:425px) {
    
    .fa-heart{
       font-size: 12px;
       margin-right: 5px;
    }
   
    .vol {
        font-size: 12px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .fa-volume-high {
        margin-left: 5px;
        font-size: 10px;
    }

    input[type='range'] {
      overflow: hidden;
      display: flex;
      width: 100px;
      -webkit-appearance: none;
      background-color: #fff;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #13bba4;
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      margin-left: 5px;
      cursor: ew-resize;
      background: #434343;
      box-shadow: -100px 0 0 100px lime;
    }

}

/* ANCHOR fine sezione web app bottom */